Astrophysics/** filter=lfs diff=lfs merge=lfs -text
advanced_QM/** filter=lfs diff=lfs merge=lfs -text
Atomic_molecular/** filter=lfs diff=lfs merge=lfs -text
Classical[[:space:]]mechanics/** filter=lfs diff=lfs merge=lfs -text
Electrodynamics/** filter=lfs diff=lfs merge=lfs -text
Electronics/** filter=lfs diff=lfs merge=lfs -text
Feynmann[[:space:]]lectures/** filter=lfs diff=lfs merge=lfs -text
General[[:space:]]aptitiude/** filter=lfs diff=lfs merge=lfs -text
Nuclear[[:space:]]Physics/** filter=lfs diff=lfs merge=lfs -text
GTR[[:space:]]and[[:space:]]STR/** filter=lfs diff=lfs merge=lfs -text
LectureNotes/** filter=lfs diff=lfs merge=lfs -text
Math[[:space:]]methods/** filter=lfs diff=lfs merge=lfs -text
Miscellaneous/** filter=lfs diff=lfs merge=lfs -text
