Astrophysics/** filter=lfs diff=lfs merge=lfs -text
advanced_QM/** filter=lfs diff=lfs merge=lfs -text
Atomic_molecular/** filter=lfs diff=lfs merge=lfs -text
Classical[[:space:]]mechanics/** filter=lfs diff=lfs merge=lfs -text
